{:kotoba.app/id "cloud.itonami.isic-2219", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiapazxtd4mbgvezv6cpepvxsthafragsafdpnzub7mypbnqerlzge", :kotoba.app/embed-url "ipfs://bafkreiapazxtd4mbgvezv6cpepvxsthafragsafdpnzub7mypbnqerlzge", :published {:archive "https://kotobase.net/ipfs/bafkreiapazxtd4mbgvezv6cpepvxsthafragsafdpnzub7mypbnqerlzge", :size 72672, :put-status 201, :get-status 200, :at "2026-08-15T13:34:12.162Z"}}
